
    <link rel="stylesheet" href="~/css/SignUp.css"/>
<div class="menu-container">
        <h1 class="menu-title">DashBoard</h1>
        <div class="navbar">
            <a href="@Url.Action("SignIn", "Login")" class="nav-link ">
            <i class="fa-solid fa-user-plus"></i>
                Switch User
            </a>

            <a href="@Url.Action("MonthlyClaimsLecturer", "Login")" class="nav-link current-page">
                <i class="fas fa-file-alt"></i>
                Claims Activity
            </a>

            <a href="@Url.Action("SubmitNewClaim", "Home")" class="nav-link">
                <i class="fas fa-plus-circle"></i>
                New Claim  
            </a>

            <a href="#" class="nav-link">
                <i class="fas fa-cog"></i>
                Settings
            </a>

            <a href="#" class="nav-link">
                <i class="fas fa-question-circle"></i>
                Help & Support
            </a>
        </div>
        </div>


