@{
    ViewData["Title"] = "MonthlyClaimsStudent";
}
@Html.Partial("_menu")
<link rel="stylesheet" href="~/css/SignUp.css" />

<div class="ClaimsMSG">
<h1>MonthlyClaimsStudent</h1>
<h2>Welcome @ViewBag.Name</h2>
</div>       


